<site-header *ngIf="isDataAvailable" [headerObj]='headerObj'></site-header>
<ion-content delegate-handle='content' id="container-selection" [ngClass]="{'has-header-cpic': lob == 'cpic','has-header-wg': lob == 'wg'}">
    <div class="mainContent noPadding postSignOn-Content">
        <ul>
            <li>
                <ul>
                    <li class="signOnForm">
                        <section class="card-content">
                            <app-error></app-error>
                            <user-messages [usermessage]='unexpectedException' [messageType]='error'></user-messages>
                            <accessibility-message [accessibilityMessage]='formError'></accessibility-message>
                            <form [formGroup]="postSignOnForm" (ngSubmit)="next(postSignOnForm.value)">
                                <ul>
                                    <li class="row">
                                        <div *ngIf="modetype != 'txn'">
                                            <p class="S1">{{pageContent.text.cc1}}</p>
                                            <p class="S1">{{pageContent.text.cc2}}</p>
                                            <p class="S1" *ngIf="skip == 1">{{pageContent.text.cc4}}</p>
                                            <p class="S1" *ngIf="skip == 1">{{pageContent.text.cc5}}</p>
                                            <p class="S1">{{pageContent.text.cc3}}</p>
                                        </div>
                                    </li>
                                    <li class="row">
                                        <div *ngIf="modetype == 'txn'">
                                            <p class="S1">{{pageContent.text.cc6}}</p>
                                            <p class="S1">{{pageContent.text.cc7}}</p>
                                            <p class="S17">{{pageContent.text.cc8}}</p>
                                        </div>
                                    </li>
                                    <li class="row">
                                        <label for="MOBILE_PHONE" stacked color="primary">{{pageContent.text.mPhone}}</label>
                                    </li>
                                    <li class="row">
                                        <user-messages [usermessage]='formValidationMessages.MOBILE_PHONE'
                                            [messageType]='error'></user-messages>
                                        <input type="tel" id="MOBILE_PHONE" class="field" [(ngModel)]="pageState.MOBILE_PHONE.value"
                                            maxlength="14" (ngModelChange)="pageState.MOBILE_PHONE.value = toViewFormat(pageState.MOBILE_PHONE.value)">
                                    </li>
                                    <li class="row">
                                        <label for="HOME_PHONE" stacked color="primary">{{pageContent.text.hPhone}}</label>
                                    </li>
                                    <li class="row">
                                        <user-messages [usermessage]='formValidationMessages.HOME_PHONE' [messageType]='error'></user-messages>
                                        <input type="tel" id="HOME_PHONE" class="field" [(ngModel)]="pageState.MOBILE_PHONE.value"
                                            maxlength="14" (ngModelChange)="pageState.HOME_PHONE.value = toViewFormat(pageState.HOME_PHONE.value)">
                                    </li>
                                    <li class="row">
                                        <label for="BUSINESS_PHONE" stacked color="primary">{{pageContent.text.bPhone}}</label>
                                    </li>
                                    <li class="row">
                                        <user-messages [usermessage]='formValidationMessages.BUSINESS_PHONE'
                                            [messageType]='error'></user-messages>
                                        <input type="tel" id="BUSINESS_PHONE" class="field" [(ngModel)]="pageState.BUSINESS_PHONE.value"
                                            maxlength="14" (ngModelChange)="pageState.BUSINESS_PHONE.value = toViewFormat(pageState.BUSINESS_PHONE.value)">
                                    </li>
                                    <li class="row">
                                        <div class="emailMsg S22">{{pageContent.text.instruct1}}</div>
                                    </li>
                                    <!--email-->
                                    <li class="row">
                                        <span class="S1">{{pageContent.text.email}}</span>
                                        <a (click)="openEmailInfo()" class="icon-bp-info"></a>
                                    </li>
                                    <li class="row">
                                        <user-messages [usermessage]='formValidationMessages.EMAIL' [messageType]='error'></user-messages>
                                        <input type="text" id="EMAIL" class="field" [(ngModel)]="pageState.EMAIL.value"
                                            maxlength="40" (ngModelChange)="pageState.EMAIL.value = toViewFormat(pageState.EMAIL.value)">
                                    </li>
                                    <li class="row">
                                        <div class="emailMsg S22">{{pageContent.text.instruct2}}</div>
                                    </li>
                                    <li class="row">
                                        <div class="S1">{{pageContent.text.instruct3}}</div>
                                    </li>
                                    <li class="row">
                                        <div class='field'>
                                            <div class="radio-group full">
                                                <input type="radio" value="Y" id="yes" name='alwaysOtvc' [(ngModel)]='pageState.alwaysOtvc'>
                                                <label for="yes" class="button small silver otvc-label">{{pageContent.text.yes}}</label>
                                                <input type="radio" value="N" id="no" name='alwaysOtvc' [(ngModel)]='pageState.alwaysOtvc'>
                                                <label for="no" class="button small silver otvc-label">{{pageContent.text.no}}</label>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="row">
                                        <ul>
                                            <li class="row" *ngIf="modetype != 'txn'">
                                                <div class="col col-50">
                                                    <button ion-button id='cancelButton' class="button silver medium accessibilityText"
                                                        (click)="skipotvc()" type="button" manual-focus *ngIf="skip == 0">
                                                        <span>{{pageContent.text.sLaterButton}}</span>
                                                    </button>
                                                    <button ion-button id='cancelButton' class="button silver medium accessibilityText"
                                                        (click)="cancel()" type="button" manual-focus *ngIf="skip != 0">
                                                        <span>{{pageContent.text.signoff}}</span>
                                                    </button>
                                                </div>
                                                <div class="col col-50">
                                                    <button ion-button type="submit" id='submitButton' class="button blue medium"
                                                        [disabled]="!( isSubmit && (pageState.MOBILE_PHONE.value || pageState.HOME_PHONE.value || pageState.BUSINESS_PHONE.value) )">
                                                        {{pageContent.text.cwsbutton}}
                                                    </button>
                                                </div>
                                            </li>
                                            <li class="row">
                                                <button type="submit" ion-button id='submitButton' class="button blue medium"
                                                    [disabled]="!isSubmit">
                                                    {{pageContent.text.nextButton}}
                                                </button>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </form>
                        </section>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <site-footer [footerObj]="footerObj" [isWrapper]="isWrapper"></site-footer>
</ion-content>