<ion-view>
  <ion-nav-bar class="bar nav-title-slide-ios7 bar-{{lob}} {{lob}}-border2 {{{true:'wrapperHeaderHeight'}[isWrapper && isIos]}} {{{true:'wrapperHeaderHeight-wg'}[isWrapper && isIos && lob == 'wg']}} {{{true:'wrapperHeaderHeight-cpic'}[isWrapper && isIos && lob == 'cpic']}}">
      <ion-nav-title>{{header}}</ion-nav-title>
      <ion-nav-buttons side="right">
          <input type="checkbox" class="offScreen" aria-hidden="true" autofocus>
          <button *ngIf="modetype == 'txn'" class="button button-icon button-clear ion-navicon" [ngClass]="{'button-clear-cpic': lob == 'cpic','button-clear-wg': lob == 'wg'}"
              role="button" aria-label="main menu" (click)="showRightMenu()" auto-focus>
          </button>
      </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content delegate-handle='content' id="container-selection" [ngClass]="{'has-header-cpic': lob == 'cpic','has-header-wg': lob == 'wg'}">
      <div class="mainContent noPadding postSignOn-Content">
          <form [ngSubmit]="next()">
              <div class="container-selectionContent">
                      <user-messages [ngModel]='errorModel.messages' error-model='errorModel.model.$error' message-type='error'></user-messages>
                  <!-- <div class="S14" *ngIf="modetype != 'txn'">{{pageContent.text.pageHeader1}}</div>
                  <div class="S14" *ngIf="modetype == 'txn'">{{pageContent.text.pageHeader2}}</div> -->
                  <div *ngIf="modetype != 'txn'">
                      <p class="S1">{{pageContent.text.cc1}}</p>
                      <p class="S1">{{pageContent.text.cc2}}</p>
                      <p class="S1" *ngIf="skip == 1">{{pageContent.text.cc4}}</p>
                      <p class="S1" *ngIf="skip == 1">{{pageContent.text.cc5}}</p>
                      <p class="S1">{{pageContent.text.cc3}}</p>
                  </div>

                  <div *ngIf="modetype == 'txn'">
                      <p class="S1">{{pageContent.text.cc6}}</p>
                      <p class="S1">{{pageContent.text.cc7}}</p>
                      <p class="S17">{{pageContent.text.cc8}}</p>
                  </div>


                  <!-- <p class="S1" ng-bind-html="pageContent.text.pageInstructions3"></p> -->
                  <div class="label">
                      <span class="S1">{{pageContent.text.mPhone}}</span>
                      <div>
                          <user-messages [ngModel]='formValidationMessages.MOBILE_PHONE' error-model='pageState.MOBILE_PHONE.$error'
                              message-type='error'></user-messages>
                          <input type="tel" id="MOBILE_PHONE" class="field" [ngModel]="pageState.MOBILE_PHONE.value"
                              maxlength="14" (change)="pageState.MOBILE_PHONE.value = toViewFormat(pageState.MOBILE_PHONE.value)">
                      </div>
                  </div>
                  <div class="label">
                      <span class="S1">{{pageContent.text.hPhone}}</span>
                      <div>
                          <user-messages [ngModel]='formValidationMessages.HOME_PHONE' error-model='pageState.HOME_PHONE.$error'
                              message-type='error'></user-messages>
                          <input type="tel" id="HOME_PHONE" class="field" [ngModel]="pageState.HOME_PHONE.value" maxlength="14"
                              (change)="pageState.HOME_PHONE.value = toViewFormat(pageState.HOME_PHONE.value)">
                      </div>
                  </div>
                  <div class="label">
                      <span class="S1">{{pageContent.text.bPhone}}</span>
                      <div>
                          <user-messages [ngModel]='formValidationMessages.BUSINESS_PHONE' error-model='pageState.BUSINESS_PHONE.$error'
                              message-type='error'></user-messages>
                          <input type="tel" id="BUSINESS_PHONE" class="field" [ngModel]="pageState.BUSINESS_PHONE.value"
                              maxlength="14" (change)="pageState.BUSINESS_PHONE.value = toViewFormat(pageState.BUSINESS_PHONE.value)">
                      </div>
                      <div class="emailMsg S22">{{pageContent.text.instruct1}}</div>
                  </div>
                  <div class="label">
                      <span class="S1">{{pageContent.text.email}}</span>
                      <a (click)="openEmailInfo()" class="icon-bp-info"></a>
                      <div>
                          <user-messages [ngModel]='formValidationMessages.EMAIL' error-model='pageState.EMAIL.$error'
                              message-type='error'></user-messages>
                          <!-- <input type="email" id="email" class="field" [ngModel]="pageState.email" placeholder="email"> -->
                          <input id="email" type="text" [ngModel]="pageState.EMAIL.value" (change)="validateEmail(pageState.EMAIL.value)"
                              class="labeledField" id="EMAIL" autocomplete="email" maxlength="40">
                          <!-- ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{1,}$/"> -->
                      </div>
                      <div class="emailMsg S22">{{pageContent.text.instruct2}}</div>
                  </div>
                  <div class="S1">{{pageContent.text.instruct3}}</div>
                  <div class='field'>
                      <div class="radio-group full">
                          <input type="radio" value="Y" id="yes" name='alwaysOtvc' [ngModel]='pageState.alwaysOtvc'>
                          <label for="yes" class="button small silver otvc-label">{{pageContent.text.yes}}</label>
                          <input type="radio" value="N" id="no" name='alwaysOtvc' [ngModel]='pageState.alwaysOtvc'>
                          <label for="no" class="button small silver otvc-label">{{pageContent.text.no}}</label>
                      </div>
                  </div>
              </div>
              <div class="container-selectionButtons">
                  <div class="row" *ngIf="modetype != 'txn'">
                      <div class="col col-50">
                          <button id='cancelButton' class="button silver medium accessibilityText" (click)="skipotvc()"
                              type="button" manual-focus *ngIf="skip == 0">
                              <span>{{pageContent.text.sLaterButton}}</span>
                          </button>
                          <button id='cancelButton' class="button silver medium accessibilityText" (click)="cancel()"
                              type="button" manual-focus *ngIf="skip != 0">
                              <span>{{pageContent.text.signoff}}</span>
                          </button>
                      </div>
                      <div class="col col-50">
                          <button type="submit" id='submitButton' class="button blue medium" 
                           [disabled]="!( isSubmit && (pageState.MOBILE_PHONE.value || pageState.HOME_PHONE.value || pageState.BUSINESS_PHONE.value) )">
                              {{pageContent.text.cwsbutton}}
                          </button>
                      </div>
                  </div>
                      <div class="col">
                          <button type="submit" id='submitButton' class="button blue medium"
                          [disabled]="!isSubmit">
                              {{pageContent.text.nextButton}}
                          </button>
                      </div>
                  </div>
                  <div class="disclaimer-footer" aria-describedby="cibcfooter" role="application" tabindex="0"
                      (click)="openAgreement()">
                      <div class="S22" id="cibcfooter" style="display:inline" aria-label="{{pageContent.text['dandd'+ $root.platform]}} {{pageContent.text.eaaTxt}} {{pageContent.text.eaaalt}}"
                          role="link">{{pageContent.text['dandd'+ $root.platform]}}
                          <span style='color:#AF0B1C'>Disclaimers and Disclosures</span>
                      </div>
                  </div>
              </div>
          </form>
      </div>
  </ion-content>
</ion-view>