<site-header *ngIf="isDataAvailable" [headerObj]='headerObj'></site-header>
<ion-content class='container-preSignOn' *ngIf="isDataAvailable" [ngClass]="isDataAvailable ? 'has-header-' + lob : ''">
    <app-error></app-error>
    <user-message [usermessage]='unexpectedException' [messageType]="'error'"></user-message>
    <accessibility-message [accessibilityMessage]='formError'></accessibility-message>
    <ul>
        <li class="row">{{PageContents.text.pgInstructions1}}</li>
        <li class="row">{{PageContents.text.pgInstructions2}}</li>
        <li class="row">{{PageContents.text.pgInstructions3}}</li>
        <li class="row">
            <h3>{{PageContents.text.ycMethod}}</h3>
            <div class="item-select field">
                <select [ngModel]="otvcType" (change)="handleSelection(otvcType)" [disabled]="isResendEnable">
                    <option value="-1" [selected]="model.otvcType.value === -1" class="S32">Choose One</option>

                    <option *ngFor="let mode of otvcDetail.Contact; let index = index;" [value]="mode.type" class=""></option>
                        {{mode.type}}:&nbsp;{{mode.value}}
                    </option>
                    <!-- <option ng-repeat="mode in otvcDetail.Contact track by $index" value="MOBILE_PHONE" class="">
                        Call:&nbsp;6479664004
                    </option> -->
                </select>
            </div>
        </li>
        <li class='row'>
            <button ion-button type="submit" class='button blue medium'>{{pageContent.text.sCodeButton}}</button>
        </li>
    </ul>
    <site-footer [footerObj]="footerObj" [isWrapper]="isWrapper"></site-footer>
</ion-content>